{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}

<div class="row gap-3">
  {% for restaurant in restaurants %} {% include
  'components/restaurantCard.html.twig' with {'restaurant':restaurant} %} {%
  endfor %}
</div>
{% endblock %}
